<!--<div class="left-sidebar">
<nav-wrap title="Annuity Portal">
  <nav-links href="#/" class="fa fa-file-text-o active" title="My Polices"></nav-links>
  <nav-links href="http://bahamas.mybafsolutions.com/financial-services-and-investments.html" target="_blank" class="fa fa-line-chart">Investment Opportunities</nav-links>
  <nav-links href="#/" class="fa fa-cog" title="Account Settings"></nav-links>
  <nav-links href="#/" class="fa fa-question-circle" title="Requests"></nav-links>
  <nav-links href="#/" class="fa fa-question-circle" title="Logout" ></nav-links>
</nav-wrap>
  <footer-wrap>
    <footer-content href="https://www.google.co.uk/maps/place/BAF+Financial+Centre/@25.0780171,-77.3448725,17z/data=!4m2!3m1!1s0x892f7d1b3829071b:0xb14eb90ba34e9550" target="_blank" class="fa fa-home">
      <footer-credit name="BAF Financial"></footer-credit>
      <br>
      <footer-credit name="Independence Drive"></footer-credit>
      <br>
      <footer-credit name="Nassu"></footer-credit>
      <br>
    </footer-content>
    <footer-contact href="tel:242-461-1000">
        <footer-contact-details name="Telephone: 242-461-1000"></footer-contact-details>
    </footer-contact>
    <footer-social title="Find Us On Social Media">

    </footer-social>
  </footer-wrap>
</div>-->
