<!-- HEADERS STARTS HERE -->
<header ng-controller="userCtrl">
  <a href="#" id="logo">
    <img src="app/images/logo.png" alt="BAF Financial &amp; Insurance">
    <span>BAF Financial &amp; Insurance</span>
  </a>
  <div class="header-right" ng-repeat="user in users | filter: query | limitTo: 1">
    <div class="date">
      <span id="dtText"></span>
    </div>
    <div class="profile">
      <span>Hello, {{user.user}}</span>
      <div class="profile-pic">
        <i class="fa fa-user"></i>
      </div>
      <!-- /profile -->
    </div>
    <!-- /header-right -->
  </div>
</header>
<!-- HEADERS ENDS HEE -->
