<section ng-include="'/app/partials/side-bar.html'"></section>
<div class="portal-container">
  <div ng-include="'/app/partials/header-bar.html'"></div>
  <div class="portal-body">
    <div ng-controller="contractCtrl">
    <div class="client-policies">
      <h2>Your Annuity Contract</h2>
      <p ng-repeat="user in contract | filter:query | limitTo: 1">
        This statement summarizes actual annuity activities for the reported year. Current interest rate and risk charges are not guaranteed for the future. Interest is credited monthly to the account. The current interest rate is <strong>{{user['contract-widget']['current-rate']}}.</strong>
      </p>
      <!-- /client-policies -->
    </div>

    <div class="policy-block">
      <ul class="policy" ng-repeat="user in contract | filter:query | limitTo: 1">
        <li>Annuity Contract Number:<span>{{user['contract-widget']['contract-number']}}</span></li>
        <li>Issue Date:<span>{{user['contract-widget']['issue-date']}}</span></li>
        <li>Statement Period:<span>{{user['contract-widget']['statement-period']}}</span></li>
        <li>Annuity Type:<span>{{user['contract-widget']['annuity-type']}}</span></li>
        <li>Currency:<span>{{user['contract-widget']['currency']}}</span></li>
      </ul>
    </div>

  <div class="chart-container">
   <h4>
     Accumulated policy value
     <span>Over 12 months</span>
   </h4>
   <div class="chart" ng-model="chart"></div>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="policy-block summary">
        <h4>Statement Period Summary</h4>
        <div class="policy" ng-repeat="user in contract | filter:query | limitTo: 1">
          <ul>
            <li>Beginning Balance: <span> {{user['contract-widget']['beginning-balance']}}</span></li>
            <li>Premiums: <span> {{user['contract-widget']['premiums']}}</span></li>
            <li>Interest: <span> {{user['contract-widget']['interest']}}</span></li>
            <li>Partial Surrenders: <span> {{user['contract-widget']['partial-surrenders']}}</span></li>
            <li>Adjustments: <span> {{user['contract-widget']['adjustments']}}</span></li>
            <li>Penalty Fees: <span> {{user['contract-widget']['penalty-fees']}}</span></li>
            <li>Ending Balance: <span> {{user['contract-widget']['ending-balance']}}</span></li>
          </ul>
          <!-- /policy -->
        </div>
        <!-- /policy-block summary -->
      </div>
      <!-- /col-2 -->
    </div>

    <div class="col-2">
      <div class="policy-block summary">
        <h4>Since Inception Summary</h4>
        <div class="policy" ng-repeat="user in contract | filter:query | limitTo: 1">
          <ul>
            <li>Premiums: <span>{{user['inception']['premiums']}}</span></li>
            <li>Interest: <span>{{user['inception']['interest']}}</span></li>
            <li>Partial Surrenders: <span>{{user['inception']['partial-surrenders']}}</span></li>
            <li>Adjustments: <span>{{user['inception']['adjustments']}}</span></li>
            <li>Penalty Fees: <span>{{user['inception']['penalty-fees']}}</span></li>
            <li>Accumulated Value: <span>{{user['inception']['accumulated-value']}}</span></li>
          </ul>
          <!-- /policy -->
        </div>
        <!-- /policy-block summary -->
      </div>
      <!-- /col-2 -->
    </div>
    <!-- /row -->
  </div>
</div> <!-- / CONTROLLER ENDS HERE -->
  <div class="statements">
    <ul>
      <li><a href="#monthly-statements">Monthly Statements</a></li>
      <li><a href="#day-statements">Day to Day Statements</a></li>
    </ul>
    <div id="day-statements" ng-controller="dayCtrl">
      <table class="sortable">
        <thead>
          <tr>
            <th>Original Balance</th>
            <th>Effective Date</th>
            <th>Amount</th>
            <th>Action</th>
            <th>New Balance</th>
          </tr>
        </thead>
        <tbody ng-repeat="user in days | filter:query | limitTo: 1">
            <tr>
              <td>{{user['orginal-balance']['30-sept-15']}}</td>
              <td>{{user['effective-date']['30-sept-15']}}</td>
              <td>{{user['amount']['30-sept-15']}}</td>
              <td>{{user['action']['30-sept-15']}}</td>
              <td>{{user['new balance']['30-sept-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['29-sept-15']}}</td>
              <td>{{user['effective-date']['29-sept-15']}}</td>
              <td>{{user['amount']['29-sept-15']}}</td>
              <td>{{user['action']['29-sept-15']}}</td>
              <td>{{user['new balance']['29-sept-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['31-aug-15']}}</td>
              <td>{{user['effective-date']['31-aug-15']}}</td>
              <td>{{user['amount']['31-aug-15']}}</td>
              <td>{{user['action']['31-aug-15']}}</td>
              <td>{{user['new balance']['31-aug-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['28-aug-15']}}</td>
              <td>{{user['effective-date']['28-aug-15']}}</td>
              <td>{{user['amount']['28-aug-15']}}</td>
              <td>{{user['action']['28-aug-15']}}</td>
              <td>{{user['new balance']['28-aug-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['31-jul-15']}}</td>
              <td>{{user['effective-date']['31-jul-15']}}</td>
              <td>{{user['amount']['31-jul-15']}}</td>
              <td>{{user['action']['31-jul-15']}}</td>
              <td>{{user['new balance']['31-jul-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['30-jul-15']}}</td>
              <td>{{user['effective-date']['30-jul-15']}}</td>
              <td>{{user['amount']['30-jul-15']}}</td>
              <td>{{user['action']['30-jul-15']}}</td>
              <td>{{user['new balance']['30-jul-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['30-jul-15']}}</td>
              <td>{{user['effective-date']['30-jul-15']}}</td>
              <td>{{user['amount']['30-jul-15']}}</td>
              <td>{{user['action']['30-jul-15']}}</td>
              <td>{{user['new balance']['30-jul-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['31-may-15']}}</td>
              <td>{{user['effective-date']['31-may-15']}}</td>
              <td>{{user['amount']['31-may-15']}}</td>
              <td>{{user['action']['31-may-15']}}</td>
              <td>{{user['new balance']['31-may-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['05-may-15']}}</td>
              <td>{{user['effective-date']['05-may-15']}}</td>
              <td>{{user['amount']['05-may-15']}}</td>
              <td>{{user['action']['05-may-15']}}</td>
              <td>{{user['new balance']['05-may-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['30-apr-15']}}</td>
              <td>{{user['effective-date']['30-apr-15']}}</td>
              <td>{{user['amount']['30-apr-15']}}</td>
              <td>{{user['action']['30-apr-15']}}</td>
              <td>{{user['new balance']['30-apr-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['31-mar-15']}}</td>
              <td>{{user['effective-date']['31-mar-15']}}</td>
              <td>{{user['amount']['31-mar-15']}}</td>
              <td>{{user['action']['31-mar-15']}}</td>
              <td>{{user['new balance']['31-mar-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['25-mar-15']}}</td>
              <td>{{user['effective-date']['25-mar-15']}}</td>
              <td>{{user['amount']['25-mar-15']}}</td>
              <td>{{user['action']['25-mar-15']}}</td>
              <td>{{user['new balance']['25-mar-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['06-mar-15']}}</td>
              <td>{{user['effective-date']['06-mar-15']}}</td>
              <td>{{user['amount']['06-mar-15']}}</td>
              <td>{{user['action']['06-mar-15']}}</td>
              <td>{{user['new balance']['06-mar-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['28-feb-15']}}</td>
              <td>{{user['effective-date']['28-feb-15']}}</td>
              <td>{{user['amount']['28-feb-15']}}</td>
              <td>{{user['action']['28-feb-15']}}</td>
              <td>{{user['new balance']['28-feb-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['28-feb-15']}}</td>
              <td>{{user['effective-date']['28-feb-15']}}</td>
              <td>{{user['amount']['28-feb-15']}}</td>
              <td>{{user['action']['28-feb-15']}}</td>
              <td>{{user['new balance']['28-feb-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['31-jan-15']}}</td>
              <td>{{user['effective-date']['31-jan-15']}}</td>
              <td>{{user['amount']['31-jan-15']}}</td>
              <td>{{user['action']['31-jan-15']}}</td>
              <td>{{user['new balance']['31-jan-15']}}</td>
            </tr>
            <tr>
              <td>{{user['orginal-balance']['30-jan-15']}}</td>
              <td>{{user['effective-date']['30-jan-15']}}</td>
              <td>{{user['amount']['30-jan-15']}}</td>
              <td>{{user['action']['30-jan-15']}}</td>
              <td>{{user['new balance']['30-jan-15']}}</td>
            </tr>
        </tbody>
      </table>
    </div>

    <!--- MONTHLY STATEMENT SECTION -->

    <div id="monthly-statements" ng-controller="monthCtrl">
      <table class="sortable">
        <thead>
          <tr>
              <th>Month Ending</th>
              <th>Original Balance</th>
              <th>Premium Credited</th>
              <th>Interest Credited</th>
              <th>Current Rate</th>
              <th>Accumulated Value</th>
          </tr>
        </thead>
        <tbody ng-repeat="user in months | filter:query | limitTo: 1">
          <tr>
            <td>{{user['ending']['30-sept-15']}}</td>
            <td>{{user['orginal-balance']['30-sept-15']}}</td>
            <td>{{user['premium-credited']['30-sept-15']}}</td>
            <td>{{user['interest-credited']['30-sept-15']}}</td>
            <td>{{user['current-rate']['30-sept-15']}}</td>
            <td>{{user['accummulated-value']['30-sept-15']}}</td>
          </tr>
          <tr>
            <td>{{user['ending']['31-aug-15']}}</td>
            <td>{{user['orginal-balance']['31-aug-15']}}</td>
            <td>{{user['premium-credited']['31-aug-15']}}</td>
            <td>{{user['interest-credited']['31-aug-15']}}</td>
            <td>{{user['current-rate']['31-aug-15']}}</td>
            <td>{{user['accummulated-value']['31-aug-15']}}</td>
          </tr>
          <tr>
            <td>{{user['ending']['31-jul-15']}}</td>
            <td>{{user['orginal-balance']['31-jul-15']}}</td>
            <td>{{user['premium-credited']['31-jul-15']}}</td>
            <td>{{user['interest-credited']['31-jul-15']}}</td>
            <td>{{user['current-rate']['31-jul-15']}}</td>
            <td>{{user['accummulated-value']['31-jul-15']}}</td>
          </tr>
          <tr>
            <td>{{user['ending']['30-jun-15']}}</td>
            <td>{{user['orginal-balance']['30-jun-15']}}</td>
            <td>{{user['premium-credited']['30-jun-15']}}</td>
            <td>{{user['interest-credited']['30-jun-15']}}</td>
            <td>{{user['current-rate']['30-jun-15']}}</td>
            <td>{{user['accummulated-value']['30-jun-15']}}</td>
          </tr>
          <tr>
            <td>{{user['ending']['31-may-15']}}</td>
            <td>{{user['orginal-balance']['31-may-15']}}</td>
            <td>{{user['premium-credited']['31-may-15']}}</td>
            <td>{{user['interest-credited']['31-may-15']}}</td>
            <td>{{user['current-rate']['31-may-15']}}</td>
            <td>{{user['accummulated-value']['31-may-15']}}</td>
          </tr>
          <tr>
            <td>{{user['ending']['30-apr-15']}}</td>
            <td>{{user['orginal-balance']['30-apr-15']}}</td>
            <td>{{user['premium-credited']['30-apr-15']}}</td>
            <td>{{user['interest-credited']['30-apr-15']}}</td>
            <td>{{user['current-rate']['30-apr-15']}}</td>
            <td>{{user['accummulated-value']['30-apr-15']}}</td>
          </tr>
          <tr>
            <td>{{user['ending']['31-mar-15']}}</td>
            <td>{{user['orginal-balance']['31-mar-15']}}</td>
            <td>{{user['premium-credited']['31-mar-15']}}</td>
            <td>{{user['interest-credited']['31-mar-15']}}</td>
            <td>{{user['current-rate']['31-mar-15']}}</td>
            <td>{{user['accummulated-value']['31-mar-15']}}</td>
          </tr>
          <tr>
            <td>{{user['ending']['28-feb-15']}}</td>
            <td>{{user['orginal-balance']['28-feb-15']}}</td>
            <td>{{user['premium-credited']['28-feb-15']}}</td>
            <td>{{user['interest-credited']['28-feb-15']}}</td>
            <td>{{user['current-rate']['28-feb-15']}}</td>
            <td>{{user['accummulated-value']['28-feb-15']}}</td>
          </tr>
          <tr>
            <td>{{user['ending']['31-jan-15']}}</td>
            <td>{{user['orginal-balance']['31-jan-15']}}</td>
            <td>{{user['premium-credited']['31-jan-15']}}</td>
            <td>{{user['interest-credited']['31-jan-15']}}</td>
            <td>{{user['current-rate']['31-jan-15']}}</td>
            <td>{{user['accummulated-value']['31-jan-15']}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div> <!--- / STATEMENTS ENDS HERE -->

  </div> <!-- PORTAL BODY ENDS HERE -->
</div>
