<section ng-include="'/app/partials/side-bar.html'"></section>
<div class="portal-container">
<div ng-include="'/app/partials/header-bar.html'"></div>
<!-- CLIENT DETAILS -->
<div class="portal-body">
  <div ng-controller="userCtrl">
    <div class="client-details" ng-repeat="user in users | filter:query | limitTo: 1">
      <h2>Your Details</h2>
      <p>
        <strong>Name:</strong> {{user.login.name}}
        <br>
        <strong>Address:</strong> {{user.login.address}}
        <br>
        <strong>Email:</strong> <a href="mailto:lorenwebster@baf.com "> {{user.login.email}}</a>
        <br>
        <strong>Telephone:</strong> {{user.login.telephone}}
      </p>
  </div>
</div>
  <!-- /client-details ends here -->

<div class="client-policies">
  <h2>Your Contracts</h2>
  <p>
    <strong>Disclaimer: Please note, the fund value shown is computed without a complete review of any withdrawals made. The actual fund value may change after such a review is made. </strong>
  </p>
</div>

<!-- CONTRACT SERVICES -->
<div class="portal-container" ng-controller="contractCtrl">
    <div class="policy-block">
      <ul class="policy overview" ng-repeat="user in contract | filter:query | limitTo: 1">
        <li>Contact Number: <span>{{user['contract-widget']['contract-number']}}</span></li>
        <li>Annuity Type: <span>{{user['contract-widget']['annuity-type']}}</span></li>
        <li>Start: <span>{{user['contract-widget']['issue-date']}}</span></li>
        <li>End Date: <span>{{user['contract-widget']['end-date']}}</span></li>
        <li>Status: <span>{{user['contract-widget']['status']}}</span></li>
        <li>Accumulated Value: <span>{{user['contract-widget']['Accumulated-value']}}</span></li>
        <li>Cash Surrender Value: <span>{{user['contract-widget']['cash-surrender-value']}}</span></li>
      </ul>
      <a href="#/policy.html" class="view-policy-btn">
        <span>View Contract Statement</span>
      </a>
    </div>
</div>
<!-- CONTRACT SERVICE ENDS HERE -->

</div> <!-- PORTAL BODY ENDS HERE -->
</div> <!-- portal-container ends here -->
