<section ng-include="'/app/partials/side-bar.html'"></section>
<div class="portal-container">
  <div ng-include="'/app/partials/header-bar.html'"></div>
  <div class="portal-body" transition>
    <div class="row">
      <div class="col-2">
        <div class="policy-block summary">
          <h4>Request a Withdrawal</h4>
          <div class="policy">
            <p>BAF Financial &amp; Insurance (Bahamas) Ltd. has six conveniently located offices in Nassau, Freeport, Exuma and Abaco to serve you. Our Sales Agents also service all of the Family Islands.</p>
            <ul>
              <li><strong>Location</strong><span>Phone</span></li>
              <li>Head Office- Independence Drive, Nassau <span>242-461-1000</span></li>
              <li>Carmichael Road, Nassau <span>242-341-7142</span></li>
              <li>Rosetta Street, Palmdale, Nassau <span>242-322-1801</span></li>
              <li>Freeport, Queen's Highway, Freeport <span>242-352-7209</span></li>
              <li>Exuma, George Town, Exuma <span>242-336-3035</span></li>
              <li>Marsh Harbour, Abaco <span>242-367-5601</span></li>

            </ul>
            <!-- /policy -->
          </div>
          <!-- /policy-block summary -->
        </div>
        <!-- /col-2 -->
      </div>
      <div class="col-2">
        <div class="policy-block summary">
          <h4>Request a Credit Reference Letter</h4>

          <div class="policy">
            <p>Please contact the Financial Services and Investment Department at <strong> 242-461-1000</strong></p>
          </div>

        </div>
        <!-- /col-2 -->
      </div>
      <!-- /row -->
    </div>
  </div>
</div> <!-- PORTAL CONTAINER ENDS HERE -->
